.table td, .table th {
    height: 50px !important;
}
.short-cell {
    height: 40px;
    white-space: normal;  /* Allows text to wrap */
    word-break: break-all;  /* Allows unbreakable words to be broken */
    /* line-break: strict;  Adheres to strict line breaking rules for Japanese text */
    overflow: hidden;  /* Hides overflowed text */
}

