

<!-- FILEPATH: /Users/moritzvitt/src/LR2Anki/templates/anki_card.html -->
<!-- html -->
<div style="font-size: 23px;">
    「{{furigana::cloze:cloze}}」
    <div class="hint">{{furigana::hint}}</span></br>
</div>

<!-- html -->
<div style="font-size: 23px;">
    「{{furigana::cloze:cloze}}」
    <div class="D1">{{furigana::hint}}</span></br>         
    <br>
    <div class="frame">
        <div class="L1" style="text-align: left;">
            {{furigana::definition}}
        </div>
        <br>
        <div class="L1" style="text-align: left;">
            <hr>
            {{furigana::notes}}
        </div>
    </div>
</div>

<br>
<br>

{{image}}
<br>
{{audio}}
