<div class="card-body">
    <div class="mx-4 my-4 text-center h1 fw-light">
        {{ cloze }}
        <!-- <span class="cloze" onmouseover="this.innerHTML = 'I am the cloze 😊'" onmouseout="this.innerHTML = '[...cloze deletion...]'"">
            [...cloze deletion...]
        </span> in it." -->
    </div>

    <div id="hint" class="h5 pb-2 text-center toggle-div hint">{{hint}}</div>


    <div class="box m-4 border border-primary border-4">

        <hr>
        <div id="synonyms" class="h5 fw-light synonyms">{{ synonyms }}</div>
        <div id="test" class="h5 fw-light test">{{ test }}</div>
        <div id="explanation" class="h5 fw-light explanation">{{ explanation }}</div>
        <div id="definition" class="h5 fw-light definition">{{ definition }}</div>
        <div id="first_example" class="h5 fw-light toggle-div first_example">{{ first_example }}</div>
        <div id="second_example" class="h5 fw-light toggle-div second_example">{{ second_example }}</div>
        <div id="grammar" class="h5 fw-light toggle-div grammar">{{ grammar }}</div>
        <div id="conjugation" class="h5 fw-light toggle-div conjugation">{{conjugation}}</div>

        <hr>

        <div id="translation" class="h5 fw-light toggle-div translation">{{ human_translation }}</div>
    </div>
    <!-- <div class="box text-center p-2 d-flex justify-content-center align-items-center flex-wrap">
        <img src="upload/items/{{ first_jpg}}" alt="Francy" class="img-resize" style="width: 200px; height: auto; max-width: 100%; margin: 1rem;">
        <img src="upload/media/{{second_jpg}}" alt="Zeu" class="h5 img-resize" style="width: 200px; height: auto; max-width: 100%; margin: 1rem;">
        
    </div>
    <div class="box text-center p-2 d-flex justify-content-center align-items-center flex-wrap">
        <div class="p-4">
            <i class="bi bi-play-circle h1" onclick="playAudio('/path/to/audio_file.mp3')"></i>
        </div>
    </div> -->
    
    
    
</div>
