<div class="card-body">
    <div class="m-4 mb-5 mt-5 text-center h1 fw-light">
        "This is your sentence with a 
        <span class="cloze" onmouseover="this.innerHTML = 'I am the cloze 😊'" onmouseout="this.innerHTML = '[...cloze deletion...]'"">
            [...cloze deletion...]
        </span> in it."
    </div>

    <div id="hint" class="h5 pb-2 text-center toggle-div hint">: this is the hint</div>


    <div class="box m-4 ">
    <!-- <div class="box m-4 border border-primary border-4"> -->

        <hr>
        <div id="synonyms" class="h5 fw-light synonyms">synonyms details.</div>
        <div id="test" class="h5 fw-light test">test details.</div>
        <div id="explanation" class="h5 fw-light explanation">Explanation details.</div>
        <div id="definition" class="h5 fw-light definition">Definition details.</div>
        <div id="first_example" class="h5 fw-light toggle-div first_example">Example 1 details.</div>
        <div id="second_example" class="h5 fw-light toggle-div second_example">Example 2 details.</div>
        <div id="grammar" class="h5 fw-light toggle-div grammar">Grammar details.</div>
        <div id="conjugation" class="h5 fw-light toggle-div conjugation">Conjugation details.</div>

        <hr>

        <div id="translation" class="h5 fw-light toggle-div translation">Translation details.</div>
    </div>
    <div class="box text-center p-2 d-flex justify-content-center align-items-center flex-wrap">
        <img src="static/images/francy.webp" alt="Francy" class="img-resize" style="width: 200px; height: auto; max-width: 100%; margin: 1rem;">
        <img src="static/images/zeu.webp" alt="Zeu" class="h5 img-resize" style="width: 200px; height: auto; max-width: 100%; margin: 1rem;">
        
    </div>
    <div class="box text-center p-2 d-flex justify-content-center align-items-center flex-wrap">
        <div class="p-4">
            <i class="bi bi-play-circle h1"></i>
        </div>
    </div>
    
    
    
</div>
