{% extends "base.html" %}

{% block content %}
<title>{{ title }}</title>

<div class="container">
    <div class="row justify-content-center gy-md-5 gy-2">
        <!-- First Column for Form -->
        <div class="col-md-6 col-lg-6">
            <div class="box">
                <div class="header text-center mb-4">
                    <p></p>
                    <!-- <h1>Language Reactor export.csv to Anki.apkg</h1> -->
                    <p class="lead">Choose your configurations!</p>
                </div>
                <div class="card shadow-sm p-3 mb-5 bg-light rounded">
                <!-- <div class="card shadow-sm p-3 mb-5 bg-light rounded"> -->
                <!-- <div class="card shadow-sm p-3 mb-5 bg-success-subtle rounded"> -->
                <!-- <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded"> -->
                    <div class="card-body">
                        <!-- <h2 class="card-title">Upload Your File</h2> -->
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <div class="form-group mb-3">
                                <input type="file" class="form-control-file" id="fileUpload" name="fileUpload" required>
                            </div>
                            <div class="form-group mb-3">
                                <label for="languageSelect">Select Your Native Language</label>
                                {% include "languageSelect.html" %}
                            </div>
                            <div class="form-group mb-3">
                                <label>Select Wanted Fields:</label>
                                {% include "list.html" %}
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Column for Additional Content -->
        <div class="col-md-6 col-lg-6">
            <div class="box">
                <div class="header text-center mb-4">
                    <p></p>
                    <!-- <h1>Language Reactor export.csv to Anki.apkg</h1> -->
                    <p class="lead">Anki Flashcard Layout</p>
                </div>
            <div class="card">
                {% include "moin shorter.html" %}
            </div>
        </div>
    </div>
    <div class="row gy-md-5 gy-2">
        <div class="box justify-content-center align-items-center">
            <img src="static/images/francy.webp" width="200" height="200" class="center" style="max-width: 100%; max-height: 100%;">
        </div>
    </div>
</div>

{% endblock %}
