<select id="languageSelect" class="form-control" name="languageSelect">
    <option value="english">English</option>
    <option value="spanish">Spanish</option>
    <option value="french">French</option>
    <option value="german">German</option>
    <option value="german">German</option>
    <option value="german">German</option>
    <option value="german">German</option>
    <option value="german">German</option>
    <option value="german">German</option>
    <option value="german">German</option>
    <option value="german">German</option>
    <option value="german">German</option>
    <option value="german">German</option>
    <option value="german">German</option>
    <option value="german">German</option>
</select>