<div class="box">
    <card>
        <div class="mx-4 my-4" style="font-size: 23px; text-align: center;">
            「バカなおしゃべりは やめとくれ そんな<span class="cloze">ヒョロヒョロ</span>に <ruby>何<rt>なに</rt></ruby>ができるのさ ここはね <ruby>人間<rt>にんげん</rt></ruby>の <ruby>来<rt>く</rt></ruby>る <ruby>所<rt>ところ</rt></ruby>じゃないんだ」
        </div>
    </card>
    <br>
    <div class="hint" style="text-align: center;">
        : thin, weak physically.
    </div>
    <br>
        <div class="mx-4 my-2" style="text-align: left;">
            ヒョロヒョロ: <ruby>細<rt>ほそ</rt></ruby>くて <ruby>弱々<rt>よわよわ</rt></ruby>しい <ruby>様子<rt>ようす</rt></ruby>。「そんな <ruby>細<rt>ほそ</rt></ruby> <ruby>弱<rt>じゃく</rt></ruby>な <ruby>人<rt>ひと</rt></ruby>に <ruby>何<rt>なに</rt></ruby>ができるのか？」の <ruby>意味<rt>いみ</rt></ruby>。
            <br>そのヒョロヒョロした <ruby>男<rt>おとこ</rt></ruby>の <ruby>子<rt>こ</rt></ruby>が、 今[いま]では <ruby>筋肉<rt>きんにく</rt></ruby>ムキムキのアスリートになった。
            The skinny boy has now become a muscular athlete.
            <br><ruby>彼<rt>かれ</rt></ruby>は <ruby>運動<rt>うんどう</rt></ruby> <ruby>不足<rt>ふそく</rt></ruby>でヒョロヒョロの <ruby>体<rt>からだ</rt></ruby>になってしまった。
            He became skinny due to lack of exercise.
            <br>
            <br>そんな: Such, that kind of
            <br>ヒョロヒョロに: Wimpy, weakly (ヒョロヒョロ = onomatopoeia for being weak/thin, に = adverbial particle)
            <br><ruby>何<rt>なに</rt></ruby>が: What ( <ruby>何<rt>なに</rt></ruby> = what, が = subject marker)
            <br>できる: Can do (potential form of する)
            <br>の: Question marker, explanatory
            <br>さ: Emphatic particle
        </div>
        <div class="mx-4 my-2" style="text-align: left;">
        <hr>
            Stop babbling. You're just a useless weakling. Besides, this is no place for humans.
            <br><br>
            Hyoro Hyoro, skinny, thin
        </div>
</div>