<div class="box">
    <card>
        <div class="mx-4 my-4">
            "This is your sentence with a <span class="cloze">cloze deletion</span> in it." 
        </div>
    </card>
    <br>
        <div id="hint" class="hint">
            hint details: thin, weak physically.
        </div>
    <br>
    <div class="mx-4 my-2">
        <hr>
        <div id="explanation" class="explanation">
            Explanation details.
        </div>
        <hr>
        <div id="example1" class="example">
            Example 1 details.
        </div>
        <hr>
        <div id="example2" class="example">
            Example 2 details.
        </div>
        <hr>
        <div id="grammar" class="grammar">
            Grammar details.
        </div>
        <hr>
        <div id="conjugation" class="conjugation">
            Conjugation details.
        </div>
        <hr>
        <div id="translation" class="translation">
            Translation details.
        </div>

            
        </div>
        <div class="mx-4 my-2" style="text-align: left;">
        <hr>
            Stop babbling. You're just a useless weakling. Besides, this is no place for humans.
            <br><br>
            Hyoro Hyoro, skinny, thin
        </div>
</div>